In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
import seaborn as sns

In [4]:
df = pd.read_csv("IRIS.csv")

In [5]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [6]:
df.shape

(150, 5)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [8]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [11]:
df.duplicated().sum()

3

In [15]:
df = df.drop_duplicates()

In [16]:
df.duplicated().sum()

0

In [9]:
df.corr()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.109369      0.871754     0.817954
sepal_width      -0.109369     1.000000     -0.420516    -0.356544
petal_length      0.871754    -0.420516      1.000000     0.962757
petal_width       0.817954    -0.356544      0.962757     1.000000

In [10]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [17]:
df.head(2)

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa

In [18]:
df.species.value_counts()

Iris-versicolor    50
Iris-virginica     49
Iris-setosa        48
Name: species, dtype: int64

In [19]:
df.species.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [21]:
df['species'] = df['species'].map({'Iris-versicolor' : 0, 'Iris-virginica' : 1,'Iris-setosa' :2})

In [23]:
df.species.unique()

array([2, 0, 1], dtype=int64)

In [24]:
## split dataset into dependent and independent variables

In [25]:
x = df.drop(['species'], axis= 1)
y = df['species']

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.30, random_state = 42)

In [30]:
from sklearn.linear_model import LogisticRegression

In [67]:
lr = LogisticRegression(solver='liblinear')

In [68]:
from sklearn.model_selection import GridSearchCV

In [74]:
param_grid = {'penalty':['l1','l2','elasticnet'], 
              'C':[0.001, 0.01, 0.1, 1, 10], 
              'max_iter':[100,200,300]}

In [77]:
grid_search = GridSearchCV(lr, param_grid = param_grid, cv =5)

In [78]:
grid_search.fit(x_train,y_train)

C:\Users\bhush\anaconda3\lib\site-packages\sklearn\svm\_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
C:\Users\bhush\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
75 fits failed out of a total of 225.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
75 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\bhush\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\bhush\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 1461, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
  File "C:\Users\bhush\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py", line 457, in _check_solver
    raise ValueError(
ValueError: Only 'saga' solver supports elasticnet penalty, got solver=liblinear.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\bhush\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [0.37238095 0.37380952        nan 0.37238095 0.37380952        nan
 0.37238095 0.37380952        nan 0.37238095 0.75571429        nan
 0.37238095 0.75571429        nan 0.37238095 0.75571429        nan
 0.76428571 0.90142857        nan 0.76428571 0.90142857        nan
 0.76428571 0.90142857        nan 0.98095238 0.98095238        nan
 0.98095238 0.98095238        nan 0.98095238 0.98095238        nan
 0.97142857 0.98095238        nan 0.97142857 0.98095238        nan
 0.97142857 0.98095238        nan]
  warnings.warn(

GridSearchCV(cv=5, estimator=LogisticRegression(solver='liblinear'),
             param_grid={'C': [0.001, 0.01, 0.1, 1, 10],
                         'max_iter': [100, 200, 300],
                         'penalty': ['l1', 'l2', 'elasticnet']})

In [79]:
best_params = grid_search.best_params_
print("Best Hyperparameters:")
print(best_params)

Best Hyperparameters:
{'C': 1, 'max_iter': 100, 'penalty': 'l1'}

In [80]:
best_classifier = grid_search.best_estimator_

In [82]:
accuracy = best_classifier.score(x_test, y_test)
print("Test Accuracy:", accuracy)

Test Accuracy: 0.9333333333333333